<%- include('../includes/head.ejs') %>
    <%- include('../includes/navbar.ejs') %>
        <section class="place-center">

            <div class="color-back">
                <h1 style="text-align:center ;font-size:30px;margin:10px">Setup New Password</h1>
                <p style="text-align:center ;color:#333; font-size:20px">Enter New Password</p>
                <br>
                <%if(message){%>
                    <div class="alert">
                        <p class="<%= validation%>"><strong>
                                <%=message%>
                            </strong> </p>
                    </div>
                    <%}%>
                        <form action="/newPassword" method="post">
                            <div class="form-inputs">
                                <label for="newPassword">New Password</label>
                                <input type="password" name="newPassword"  id="">
                            </div>
                            <div class="form-inputs">
                                <label for="email">Confirm Password</label>
                                <input type="password" name="confirmPassword"  id="">
                            </div>
                            <div class="form-button">
                                <button class="loginBtn">Update Password</button>
                            </div>
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
            </div>
        </section>

        <%- include('../includes/end.ejs') %>